* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 185, 255);
  height: 10vh;
}

.header-logo {
  height: 50px;
  width: 20%x;
}

.header-logo-2 {
  height: 30px;
  width: 20%x;
  margin-left: 10px;
}

.main-content {
  background-color: rgb(253, 72, 72);
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 100px;
  background-color: white;
}

.preview-pokemon {
  width: 20%;
  height: 40vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.397);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.801);
  backdrop-filter: blur( 6px);
  -webkit-backdrop-filter: blur( 6px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18);
}

.poke-img {
  height: 250px;
}

.preview-up {
  border-bottom: 1px solid black;
}

.loading {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}